
/* 사이드바 스타일 */
#sidebar {
    width: 200px; /*너비*/
    height: 100vh; /*화면 높이*/
    background-color: #333; /*배경색*/
    color: white; /*텍스트 색상*/
    position: fixed; /*고정 위치*/
    top: 0; /*위쪽 간격 없음*/
    left: 0; /*왼쪽 간격 없음*/
    padding-top: 20px; /*위쪽 패딩*/
}

#sidebar ul {
    list-style-type: none; /*리스트 스타일 제거*/
    padding: 0;  /*리스트 내부 패딩 제거*/
}

#sidebar li {
    padding: 10px; /*리스트 항목 내부 여백*/
    text-align: center; /*가운데 정렬*/
}

#sidebar a {
    color: white; /*링크 색상*/
    text-decoration: none; /*밑줄 제거*/
    display: block; /*블록 요소로 설정*/
}

#sidebar a:hover {
    background-color: #575757; /*마우스를 올릴 때 배경색*/
}

/* 메인 콘텐츠 스타일 */
#main-content {
    margin-left: 220px; /*사이드바 너비만큼 오른쪽으로 이동*/
    padding: 20px; /*패딩*/
}

/* 페이지 스타일 */
.page {
    display: none;  /*숨김*/
}

.page.active {
    display: block; /*활성화된 페이지만 보임 */
}

/* 기본 스타일 초기화 */
* {
    margin: 0; /*마진 제거*/
    padding: 0; /*패딩 제거*/
    box-sizing: border-box; /*박스 크기에 보더 포함*/
}

/* 페이지 배경 색상 및 글씨 색상 */
body {
    font-family: Arial, sans-serif; /*글꼴 설정*/
    background-color: #f4f4f4;  /*배경색*/
    color: #333; /*텍스트 색상*/
    padding: 20px; /*패딩*/
}

/*h3 스타일*/
h3 {
    color: #2c3e50; /*글자색*/
}

/* 버튼 스타일 */
input[type="button"], button {
    background-color: #3498db; /*배경색*/
    color: white; /*텍스트색*/
    border: none; /*경계선없음*/
    padding: 10px 20px; /*버튼 패딩크기*/
    font-size: 16px; /*텍스트 크기*/
    cursor: pointer; /*버튼 위에 마우스를 두면 커서가 손모양으로 바뀜*/
    border-radius: 5px; /* 버튼 테두리 둥글게 설정 */
    transition: background-color 0.3s; /*마우스를 두면 배경색 전환 효과*/
}

input[type="button"]:hover, button:hover {
    background-color: #2980b9; /*버튼을 마우스에 올렸을때의 배경색*/
}

/* 폼 및 입력 필드 스타일 */
form {
    margin-bottom: 20px; /*폼 아래 간격*/
}

input[type="text"] {
    padding: 10px; /*여백*/
    width: 300px; /*입력 필드 너비*/
    margin-top: 10px; /*위쪽 간격*/
    font-size: 16px; /*글자 크기*/
    border: 1px solid #ccc; /*테두리 설정*/
    border-radius: 5px; /*테두리 둥글게*/
}

/* 테이블 스타일 */
table {
    width: 100%; /*테이블 너비*/
    margin-top: 20px; /*위쪽 간격*/
    border-collapse: collapse; /*테두리 제거*/
}

th, td {
    padding: 10px; /*셀 여백*/
    text-align: left; /*텍스트 왼쪽 정렬*/
    border-bottom: 1px solid #ddd; /*셀 아래쪽 테두리*/
}

th {
    background-color: #2980b9; /*헤더 셀 배경색*/
    color: white; /*헤더 텍스트 색*/
}
/*짝수 칸*/
tbody tr:nth-child(even) {
    background-color: #f9f9f9; /*짝수 행 배경색*/
}

/* 차트 영역 */
#canvas {
    margin-top: 20px; /*위쪽 간격*/
    border: 1px solid #ddd; /*차트 테두리*/
}

/* 알콜측정값 출력하는 곳 스타일 */
#alert {
    margin-top: 20px; /*위쪽 간격*/
    padding: 10px; /*여백*/
    background-color: #f39c12; /*배경색*/
    color: white; /*텍스트 색상*/
    font-weight: bold; /*텍스트 굵게*/
    border-radius: 5px; /*테두리 둥글게 설정*/
}
